<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8" />
<title><TMPL_VAR name></title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="http://nottinghack.org.uk/wp-content/themes/nottinghack/style.css" />
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" media="all" href="http://nottinghack.org.uk/wp-content/themes/nottinghack/ie_fixes.css" />
<![endif]-->
<link rel="pingback" href="http://nottinghack.org.uk/xmlrpc.php" />
<link rel="alternate" type="application/rss+xml" title="Planet Nottinghack &raquo; RSS 1.0 Feed" href="http://planet.nottinghack.org.uk/rss10.xml" />
<link rel="alternate" type="application/rss+xml" title="Planet Nottinghack &raquo; RSS 2.0 Feed" href="http://planet.nottinghack.org.uk/rss20.xml" />
<link rel="alternate" type="application/atom+xml" title="Planet Nottinghack &raquo; Atom Feed" href="http://planet.nottinghack.org.uk/atom.xml" />
<link rel="alternate" type="application/rdf+xml" title="Planet Nottinghack &raquo; FOAF Roll" href="http://planet.nottinghack.org.uk/foafroll.xml" />
<link rel="alternate" type="text/xml" title="Planet Nottinghack &raquo; OPML" href="http://planet.nottinghack.org.uk/opml.xml" />

	<script type="text/javascript">//<![CDATA[
	// Google Analytics for WordPress by Yoast v4.0.11 | http://yoast.com/wordpress/google-analytics/
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount','UA-21327892-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	//]]></script>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js?ver=3.1.1'></script>
<style type="text/css">img.nothumb{border:0;margin:0 0 0 2px !important;}</style>
<!-- Tweet This v1.8.2 b036 mode alpha -->
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://nottinghack.org.uk/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://nottinghack.org.uk/wp-includes/wlwmanifest.xml" />
<link rel='index' title='Nottinghack' href='http://nottinghack.org.uk' />
<link rel='prev' title='calendar' href='http://nottinghack.org.uk/?page_id=309' />

<link rel='next' title='rube goldberg machine' href='http://nottinghack.org.uk/?page_id=313' />
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
<link rel='canonical' href='http://nottinghack.org.uk/?page_id=311' />
<script type="text/javascript" src="http://nottinghack.org.uk/wp-content/themes/nottinghack/js/nottinghack.js"></script>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />

<style type="text/css">

	#content h2.planet {
		font-size: 1.6em;
		margin-top: 20px;
	}

	#content h3 {
		font-size: 1.2em;
	}

	#content h3.planet {
		background: #195905;
		color: #FFFFFF;
		font-size: 1.2em;
		font-weight: bold;
		padding: 5px 2px;
	}

	#content h3.planet a {
		color: #FFFFFF;
		text-decoration: none;
	}

	#content h4.planet {
		font-size: 1.4em;
	}

</style>

</head>

<body class="page page-id-311 page-parent page-template page-template-default">
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">

			<a href="http://nottinghack.org.uk/" title="Nottinghack" rel="home">
			<div id="branding" role="banner">
								<div id="site-title" class="screen-reader-text">
					<span>
						Nottinghack					</span>
				</div>
				<div id="site-description" class="screen-reader-text">at Nottingham Hackspace</div>
			</div><!-- #branding -->

			</a>
		</div><!-- #masthead -->
		<div id="access" role="navigation">
		  			<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
						<div class="menu-header"><ul id="menu-main-menu" class="menu"><li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="http://nottinghack.org.uk/">home</a></li>
<li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a href="http://nottinghack.org.uk/?page_id=281">latest news</a></li>
<li id="menu-item-300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="http://nottinghack.org.uk/?page_id=10">about</a>
<ul class="sub-menu">

	<li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="http://nottinghack.org.uk/?page_id=33">find us</a></li>
	<li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301"><a href="http://nottinghack.org.uk/?page_id=276">join us</a></li>
	<li id="menu-item-302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302"><a href="http://nottinghack.org.uk/?page_id=195">faqs</a></li>
</ul>
</li>
<li id="menu-item-307" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-307"><a href="http://nottinghack.org.uk/?page_id=278">our space</a>
<ul class="sub-menu">
	<li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="http://nottinghack.org.uk/?page_id=287">tour</a></li>
	<li id="menu-item-305" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-305"><a href="http://nottinghack.org.uk/?page_id=292">tools</a></li>

</ul>
</li>
<li id="menu-item-308" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-308"><a href="http://wiki.nottinghack.org.uk/">wiki</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom current_page_item"><a href="http://planet.nottinghack.org.uk/">planet</a></li>
<li id="menu-item-515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-515"><a href="http://nottinghack.org.uk/?page_id=309">calendar</a>
<ul class="sub-menu">
	<li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="http://nottinghack.org.uk/?page_id=213">free open hack nights</a></li>
</ul>
</li>
<li id="menu-item-1351" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1351"><a href="http://eepurl.com/ncaln" class="">announcements</a></li>
</ul></div>		</div><!-- #access -->
	</div><!-- #header -->

	<div id="main">

		<div id="container">
			<div id="content" role="main">


				<div id="post-311" class="post-311 page type-page status-publish hentry">
											<h1 class="entry-title"><TMPL_VAR name></h1>

					<div class="entry-content">
						<TMPL_LOOP Items>
							### Visually distinguish articles from different days by checking for
							### the new_date flag.  This demonstrates the <TMPL_IF varname> ... </TMPL_IF>
							### check.

							<TMPL_IF new_date>
							<h2 class="planet"><TMPL_VAR new_date></h2>
							</TMPL_IF>

							### Group consecutive articles by the same author together by checking
							### for the new_channel flag.

							<TMPL_IF new_channel>
							<h3 style="position: relative;" class="planet"><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a>
							<TMPL_IF channel_face>
							<img class="face" src="heads/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth>" height="<TMPL_VAR channel_faceheight>" alt="hackergotchi for <TMPL_VAR channel_name ESCAPE="HTML">" style="position: absolute; right: 0px; top: -25px;" />
							</TMPL_IF>
							</h3>
							</TMPL_IF>


							<TMPL_IF title>
							<h4 class="planet"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
							</TMPL_IF>
							<p>
							<TMPL_VAR content>
							</p>
							<p>
							<em><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date></a></em>
							</p>
						</TMPL_LOOP>
					</div><!-- .entry-content -->
				</div><!-- #post-## -->

			</div><!-- #content -->
		</div><!-- #container -->


		<div id="primary" class="widget-area" role="complementary">
			<ul class="xoxo">
			<li id="search" class="widget-container widget_search">


<form role="search" method="get" id="searchform" action="http://nottinghack.org.uk/">
    <div><label class="screen-reader-text" for="s">Search for:</label>
        <input type="text" value="" name="s" id="s" /><input type="image" alt="Search" src="http://nottinghack.org.uk/wp-content/themes/nottinghack/images/search_button.jpg" align="top" id="searchbutton"/>
    </div>
</form>			</li>

			<li id="text-4" class="widget-container widget_text">
				<h3 class="widget-title">Contributors</h3>
				<div class="textwidget">
					<ul>
					<TMPL_LOOP Channels>
						<li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a> <a href="<TMPL_VAR url ESCAPE="HTML">">(feed)</a></li>
					</TMPL_LOOP>
					</ul>
				</div>
			</li>
			<li id="text-4" class="widget-container widget_text">
				<h3 class="widget-title">Feeds</h3>
				<div class="textwidget">

					<p><a href="http://planet.nottinghack.org.uk/rss10.xml"><img src="images/rss10.png" width="80" height="15" alt="RSS1.0" /></a>
					<a href="http://planet.nottinghack.org.uk/rss20.xml"><img src="images/rss20.png" width="80" height="15" alt="RSS2.0" /></a>
					<a href="http://planet.nottinghack.org.uk/atom.xml"><img src="images/atom.png" width="80" height="15" alt="Atom" /></a>
					<a href="http://planet.nottinghack.org.uk/foafroll.xml"><img src="images/foaf.png" width="80" height="15" alt="FOAF" /></a>
					<a href="http://planet.nottinghack.org.uk/opml.xml"><img src="images/opml.png" width="80" height="15" alt="OPML" /></a></p>

					<p>Powered by<br />
					<a href="http://www.planetplanet.org/"><img src="images/planet.png" width="80" height="15" alt="Planet" /></a></p>
				</div>
			</li>
		</ul>

		</div><!-- #primary .widget-area -->



	</div><!-- #main -->

	<div id="footer" role="contentinfo">
		<div id="colophon">



			<div id="footer-widget-area" role="complementary">

				<div id="first" class="widget-area">
					<ul class="xoxo">
						<li id="nav_menu-3" class="widget-container widget_nav_menu"><div class="menu-bottom-first-container"><ul id="menu-bottom-first" class="menu"><li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="http://nottinghack.org.uk/?page_id=281">blog</a></li>
<li id="menu-item-318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-318"><a href="/?feed=rss2">rss</a></li>
<li id="menu-item-320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-320"><a href="#">&nbsp;</a></li>
<li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="#">&nbsp;</a></li>
<li id="menu-item-938" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-938"><a href="https://nottinghack.org.uk/wp-admin/">admin</a></li>
</ul></div></li>					</ul>

				</div><!-- #first .widget-area -->

				<div id="second" class="widget-area">
					<ul class="xoxo">
						<li id="nav_menu-4" class="widget-container widget_nav_menu"><div class="menu-bottom-follow-container"><ul id="menu-bottom-follow" class="menu"><li id="menu-item-329" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-329"><a href="http://twitter.com/#!/hsnotts">twitter</a></li>
<li id="menu-item-328" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-328"><a href="http://groups.google.com/group/nottinghack">google group</a></li>
<li id="menu-item-327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.flickr.com/photos/nottinghack">flickr</a></li>
<li id="menu-item-330" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-330"><a href="http://www.youtube.com/user/nottinghack">youtube</a></li>
<li id="menu-item-332" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-332"><a href="http://www.facebook.com/pages/NottingHack/106946729335123">facebook</a></li>

</ul></div></li>					</ul>
				</div><!-- #second .widget-area -->

				<div id="third" class="widget-area">
					<ul class="xoxo">
						<li id="text-6" class="widget-container widget_text">			<div class="textwidget"><div style="text-size: 0.8em">
Nottingham Hackspace Ltd<br />
<br />
<br />
No. 07766826<br />

Reg. in England & Wales
</div></div>
		</li>					</ul>
				</div><!-- #third .widget-area -->

				<div id="fourth" class="widget-area">
					<ul class="xoxo">
						<li id="text-5" class="widget-container widget_text">			<div class="textwidget">Unit F6 BizSpace<br />

Roden House Business Centre<br />
Nottingham<br />
NG3 1JH</div>
		</li>					</ul>
				</div><!-- #fourth .widget-area -->

			</div><!-- #footer-widget-area -->

		</div><!-- #colophon -->

	</div><!-- #footer -->

</div><!-- #wrapper -->

</body>
</html>
